@import "bootstrap/responsive-utilities.less";
@import "responsive/max-1280.less";
@import "responsive/min-1200.less";
@import "responsive/max-1199.less";
@import "responsive/min-992-max-1199.less";
@import "responsive/max-991.less";
@import "responsive/min-768-max-991.less";
@import "responsive/max-767.less";
@import "responsive/max-640.less";
@import "responsive/min-481-max-640.less";
@import "responsive/max-480.less";
@import "responsive/max-360.less";
@import "responsive/max-320.less";
@import "responsive/mobile.less";

@media (max-width: 1750px) {
	.home-style8 .body-wrapper:before, .home-style8 .body-wrapper:after{
		background-image:none;
	}
}

@media (min-width: 1368px){
	.wp-comingsoon{
		min-height:980px;
	}
}

@media (min-width: 1360px) and (max-width: 1500px) {
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:115px;
	}
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:80px;
	}
}

@media (min-width: 1200px) and (max-width: 1366px) {
	.sticky-detail-buton.addcart-wrapper{
		right:10px;
		.rtl &{
			left:10px;
			right:auto;
		}
	}
}

@media (min-width: 1200px) {   
	.home-style6{
		.container{
			max-width: 1170px;
		}
	} 
	.home-style5, .home-style7{
		.container{
			max-width: 1680px; padding: 0 15px;
		}
	}
	.products-loop.grid >li.col-lg-12:nth-child(2n),.products-loop.grid >li.col-lg-6:nth-child(2n+1),.products-loop.grid >li.col-lg-4:nth-child(3n+1), .products-loop.grid >li.col-lg-3:nth-child(4n+1), .products-loop.grid >li.col-lg-24:nth-child(5n+1), .products-loop.grid >li.col-lg-2:nth-child(6n+1), {
		clear: both;
	}
	.col-lg-24{
		width: 20%;
	}
	.rtl{
		[class*="col-lg-"], [class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
}
@media (max-width: 1199px) and ( min-width: 992px ) {
	.products-loop.grid >li.col-md-12:nth-child(2n),.products-loop.grid >li.col-md-6:nth-child(2n+1),.products-loop.grid >li.col-md-4:nth-child(3n+1), .products-loop.grid >li.col-md-3:nth-child(4n+1), .products-loop.grid >li.col-md-24:nth-child(5n+1), .products-loop.grid >li.col-md-2:nth-child(6n+1), {
		clear: both;
	}
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:105px;
	}
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:60px;
	}
	.col-md-24{
		width: 20%;
	}
	.rtl{
		[class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
	.wpb_revslider_element .rev_slider_wrapper{
		ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn{
			display:none !important;
		}
	}
}

@media (max-width: 991px) and ( min-width: 768px ) { 
	.products-loop.grid >li.col-sm-12:nth-child(2n),.products-loop.grid >li.col-sm-6:nth-child(2n+1),.products-loop.grid >li.col-sm-4:nth-child(3n+1), .products-loop.grid >li.col-sm-3:nth-child(4n+1), .products-loop.grid >li.col-sm-24:nth-child(5n+1), .products-loop.grid >li.col-sm-2:nth-child(6n+1), {
		clear: both;
	}
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:165px;
	}
	#cpanel-form a.cpanel-control {
		display: none;
	}
	.col-sm-24{
		width: 20%;
	}
	.rtl{
		[class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
}

@media ( min-width: 768px ){
	.woocommerce table.shop_table_responsive, .woocommerce-page table.shop_table_responsive{
		border-collapse: collapse;
		tr{
			display: table-row;
			td{
				display: table-cell;
				border: 1px solid #ddd;
			}
		}
	}
}

@media (max-width: 767px) { 
	.clear_xs {
		clear: both;
	}
	.home1-left{
		margin-top:0 !important;
	}
	.rtl{
		.block-text1-home4{
			[class*="col-lg-"]{
				float:none;
			}
		}
		[class*="col-xs-"] {
			float: right;
		}
	}
}
@media (max-width: 479px) {
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:110px;
	}
	[class*="col-xs-"]{
		float: none;
		width:auto;
	}
	.rtl{
		[class*="col-xs-"] {
			float: none;
		}
	}
}
@media (max-width: 360px) {
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.sidebar-single .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-left .slick-slider.product-responsive-thumbnail,
	.product_detail .slider_img_productd .product-images.no-sidebar .product-images-container.thumbnail-right .slick-slider.product-responsive-thumbnail{
		min-width:95px;
	}
}

