.home-style9{
	&.rtl {
		.sw-woo-tab-style2 .resp-tab .category-slider-content .nav-tabs-select ul.nav-tabs li > a{
			padding:0 0 5px 48px;
		}
	}
	&.boxed-layout .body-wrapper{
		max-width:1200px;
	}
	&.page .elementor-section.elementor-section-boxed > .elementor-container{
		max-width:1170px;
	}
	#bar1 .elementor-column-gap-default .elementor-column>.elementor-element-populated{
		padding-top:0;
	}
	.main-page .page >.entry-content{
		margin-top:0 !important;
	}
	.block-title:before{
		width:40px;
	}
	div.star, div.stars{
		height:13px;
		width:65px;
		 background: url("../assets/img/star-1.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
		span{
			background: url('../assets/img/star-active-1.png') repeat;
		}
	}
	.container{
		max-width:1170px;
		padding:0;
	}
	.sw-vendor-container-slider2{
		margin:0;
		.box-title h3{
			padding-top:0;
			font-size:18px;
			&:before{
				width:40px;
			}
		}
	}
	.primary-menu .emarket-mega-menu .elementor-column-gap-default .elementor-column>.elementor-element-populated{
		padding:0px;
	}
	.elementor-column-gap-default .elementor-column>.elementor-element-populated{
		padding:10px 0;
	}
	#elementor-safe-mode-message{
		display:none;
	}
	.item-price{
		font-size:16px;
		color:#000;
		del{
			font-size:14px;
			color:#b3b3b3;
			float:left;
			margin:1px 10px 0 0px;
			.rtl &{
				margin:1px 0px 0 10px;
			}
		}
	}
	.item .item-wrap3 .item-detail .item-content h4{
		margin-top:5px;
		a{
			color:#464646;
			font-weight:400;
			&:hover{
				color:@color;
			}
		}
	}
	.most-viewed4{
		margin:0 0 40px;
	}
	.sw-brand-container-slider{
		padding:0px;
		margin:0 0 30px;
		border-radius:0;
		border-left:0;
		border-right:0;
		.res-button{
			background-color: #d6d6d6;
			padding:0; line-height:40px;
			text-align: center;
			z-index: 1;
			font-size: 0;
			cursor: pointer;
			border-radius:0;
			&:hover{
				background-color:@color;
			}
			&.slick-prev{
				background-image:none;
				left:0;
				&:before{
					content: '\f053';
					font-family: FontAwesome;
					font-size: 14px;
					color: #ffffff;
				}
			}
			&.slick-next{
				background-image:none;
				right:0;
				&:before{
					content: '\f054';
					font-family: FontAwesome;
					font-size: 14px;
					color: #ffffff;
				}
			}
		}
		.resp-slider-container .slider{
			padding:0 40px;
		}
	}
}
.most-viewed4{
	position:relative;.button-style7;
	.block-title{
		border-bottom: 2px @border-color solid; position: relative; margin-bottom: 30px;
		&:before{
			position: absolute; bottom: -2px; left: 0;content: ""; width: 40px; height: 2px; background: @color;
			.rtl &{
				left: auto; right: 0;
			}
		}
		h3{
			font-size: 18px; color: @body-color; text-transform: uppercase; font-weight: 700; margin-right: 15px; margin-bottom: 8px;
			.rtl &{
				margin-right: 0; margin-left: 15px;
			}
		}
		.view-all{
			font-size: 12px; color: #464646; text-transform: capitalize; .transition(all 0.3s);
			&:hover{
				color: @color; .transition(all 0.3s);
			}
			i:before{
				.rtl &{
					content: "\f0d9";
				}
			}
		}
	}
	.sale-off{
		display:none;
	}
	.resp-slider-container .slider .slick-list{
		position:relative;
		margin:0 -15px;
		&:before{
			content:'';
			width:2px;
			height:100%;
			display:inline-block;
			position:absolute;
			right:0;
			top:10px;
			background-color:#fff;
			z-index:5;
		}
		.item{
			padding:0 15px;
			.item-wrap5{
				position:relative;
				&:before{
					content:'';
					width:1px;
					height:100%;
					display:inline-block;
					position:absolute;
					right:-15px;
					top:10px;
					background-color:#eaeaea;
					z-index:5;
				}
				.item-detail .item-img .item-bottom{
					top:0;
					left:0;
				}
			}
		}
	}
}
.page .elementor-section.elementor-section-boxed > .elementor-container{
	//max-width:none;
}
.elementor-widget-image .elementor-image img.size-full{
	width:auto;
}
.header-style11{
	margin: 0;
	background-color:#183544;
	.header-top{
		background-color:#132a36;
		min-height:35px;
		border-bottom:1px solid rgba(0,0,0,0.1);
		.call-us{
			color:#cdcdcd;
			text-transform:uppercase;
			font-weight:400;
			margin-right:35px;
			line-height:35px;
			.rtl &{
				margin-left:35px;
				margin-right:0;
			}
		}
		#lang_sel > ul.nav > li, .currency_w > li{
			padding:9px 0 8px 0;
			> a{
				color:#cdcdcd;
			}
		}
		.widget_nav_menu{
			ul.menu > li{
				display: inline-block; vertical-align: top; float:left;
				.rtl &{
					float:right;
				}
				&:last-child{
					> a{
						padding-right:0;
						.rtl &{
							padding-right:15px;
							padding-left:0;
						}
					}
				}
				> a{
					color: #cdcdcd; font-size: 12px; display: block;
					padding:0 15px;
					position:relative;
					&:before{
						content:'';
						display:inline-block;
						width:1px;
						height:10px;
						background-color:#e8e8e8;
						position:absolute;
						left:0;
						top:13px;
						.rtl &{
							right:0;
							left:auto;
						}
					}
					&:hover{
						color: @color;
					}
					span{
						display: inline-block; vertical-align: top;
					}
					span.fa{
						display:none;
					}
					.menu-title{
						font-size: 12px; margin-top: 11px;
					}
				}
				&:first-child > a{
					&:before{
						width:0;
						height:0;
					}
				}
			}
		}
	}
	.header-mid {
		padding: 19px 0;
		border-bottom:1px solid rgba(0,0,0,0.1);
		.emarket-logo{
			padding-top: 2px;
		}
		.mid-header-right .sw_top{
			&:first-child{
				float:left;
			}
		}
		.top-login5 ul{
			margin:2px 0px 0 50px;
			.rtl &{
				margin:2px 50px 0 0;
			}
			li{
				list-style: none;
				padding:0 0px 0 30px;
				position:relative;
				.rtl &{
					padding:0 30px 0 0;
				}
				&:before{
					content:'';
					background: url('../assets/img/icon-user9.png') no-repeat;
					width:17px;
					height:20px;
					top: 10px;
					display: inline-block;
					position: absolute;
					left: 0;
					.rtl &{
						right:0;
						left:auto;
					}
				}
				a{
					font-size: 14px;
					color: #fff;
					display: block;
					padding: 3px 0px 3px;
					display: block;
					font-weight:700;
					&:hover{
						color: @color;
					}
				}
				span.wg{
					color:#fff;
				}
			}
		}
	}
	.top-form.top-form-minicart .top-minicart-icon{
		background: url('../assets/img/icon-cart9.png') no-repeat center center #efefef;
		.fa{
			font-size:0;
		}
	}
	.header-bottom{
		padding-bottom: 0;
		.home-style6 &{
			box-shadow: none;
		}
		.widget_nav_menu{
			display:none;
		}
		.nav-pills >li{
			&:first-child > a{
				padding-left:0;
				@media ( max-width: 1199px ) {
					padding-left:18px;
					.rtl &{ padding-right:18px; }
				}
				.rtl &{
					padding-right:0;
					padding-left:18px;
				}
			}
		}
		.my-menu-right{
			.wrap-content{
				padding:13px 0;
				a{
					display:inline-block;
					float:left;
					font-weight:700;
					font-size:14px;
					color:#fff;
					text-transform:capitalize;
					padding:0 11px;
					.rtl &{
						float:right;
					}
					&:hover{
						color:@color;
					}
					&:last-child{
						color:#ffd200;
						position:relative;
						padding-right:0;
						.rtl &{
							padding-right:11px;
							padding-left:0;
						}
						&:before{
							display:inline-block;
							width:33px;
							height:19px;
							position:absolute;
							top:-20px;
							right:0;
							content:'';
							background: url('../assets/img/news2.png') no-repeat;
						}
					}
				}
			}
		}
	}
	.mid-header-right{
		padding-right: 15px;
		.rtl &{
			padding-right: 0; padding-left: 15px;
		}
	}
	.nav-pills >li > a{
		color: #fff; padding: 14px 18px 10px;
		&:hover{
			color:@color;
		}
	}
	.nav-pills.nav-mega .emarket-mega-menu.emarket-menu-img > a span.menu-img{
		top: -8px;
	}
	#lang_sel > ul.nav{
		margin: 0;
		> li > a{
			padding: 0;
		}
	}
	.emarket_top {
		border-radius: 2px;
		.top-form.top-search{
			padding: 0; border-radius: 2px; border: none; min-width: 100%;
			.cat-wrapper{
				display:none;
				border-radius: 2x 0 0 2px;
				.rtl &{
					border-radius: 0 2px 2px 0;
				}
				select{
					padding: 0 13px;
				}
			}
			input{
				border-radius: 2px;
				height:42px;
				padding:0 20px;
			}
			button.form-button{
				height:36px;
				background: @color; border-radius: 0 2px 2px 0;
				font-size:16px;
				top:3px;
				right:3px;
				line-height:36px;
				.rtl &{
					border-radius: 2px 0 0 2px; left:3px; right:auto;
				}
			}
		}
	}
	.top-form.top-form-minicart{
		.top-minicart-icon{
			background-color:#efefef;
			.minicart-number{
				background-color:@color;
				color:#fff;
			}
		}
		.title-cart{
			display:none;
		}
	}
	.header-bottom{
		.sw-emarket-cart, .search-cate, .top-header{
			display:none;
		}
		&.sticky-menu{
			position: fixed; z-index:99; background: #183544; .transition(all 0.5s ease);
			padding:7px 0;
			.sw-emarket-cart, .search-cate, .top-header{
				display:block;
			}
			.emarket-logo{
				padding:8px 0;
			}
			.bottom-header{
				display:none;
			}
			.nav-pills >li > a{
				padding:18px 18px 12px;
			}
			.nav-pills >li.dropdown > .dropdown-menu.visible{
				top:59px;
			}
			.nav-pills.nav-mega .emarket-mega-menu.emarket-menu-img > a span.menu-img{ display:none; }
			.search-cate{
				position:relative;
				float:right;
				.search-tog .fa{
					font-size: 18px;
					color: #fff;
					padding: 16px 20px;
					cursor:pointer;
					&:hover{
						opacity:0.85;
					}
				}
				.emarket_top{
					display:none;
				}
				.top-form.top-search{
					position:absolute;
					top:56px;
					right:0;
					width:300px;
					min-width:300px;
					.cat-wrapper{
						display:none;
					}
					input{
						padding-left:20px;
						border:1px solid #ebebeb;
						.rtl &{
							padding-right:20px;
						}
					}
					button.form-button{
						width:40px;
					}
				}
			}
			.sw-emarket-cart{
				background:transparent;
				padding:7px 0;
				max-width:60px;
				.top-form.top-form-minicart{
					margin-left:20px;
					.title-cart{
						display: block;
						opacity: 0;
						height: 0;
						visibility: hidden;
						margin: 0;
						}
					.top-minicart-icon .minicart-number{
						display:block;
					}
					.rtl &{
						margin-right:20px;
						margin-left:0;
					}
				}
			}
		}
	}
}
.image-topdeals, .img-page{
	.elementor-column-gap-default{
		max-width:1176px;
			.elementor-column>.elementor-element-populated{
				padding:0 !important;
			}
			.elementor-widget:not(:last-child){
				margin:0;
			}
			.elementor-widget-image .elementor-image img{
				margin:0 0 6px;
			}
	}
}
.img-page{
	.image-left{
		float:left;
		width:50%;
	}
	.image-right{
		float:right;
		width:50%;
	}
}
.item-left{
	padding-right:3px;
	.rtl &{
		padding-left:3px;
		padding-right:0;
	}
}
.item-right{
	padding-left:3px;
	.rtl &{
		padding-right:3px;
		padding-left:0;
	}
}
body.elementor-editor-active .header-bar{
	position: relative; right: auto; top: auto; z-index: 9; background: #22516a; display: block;
}
.header-bar{
	position: fixed; right: 290px; top: 30%; z-index: 999; background: #22516a; display: none; left:auto;  max-width:max-content;
	width:auto !important;
	.rtl &{
		right: auto; left: 290px;
	}
	.widget.widget_nav_menu, .elementor-widget.elementor-widget-wp-widget-nav_menu{
		margin: 0;
		ul{
			li{
				border: none; height: 42px; line-height: 42px; max-width: 42px;
				>a{
					color: #fff; padding: 0 8px; text-align: center; display:block;
					position:relative;
					>.menu-img{
						display: inline-block; vertical-align: middle;
					}
					>.menu-title{
						display: none; vertical-align: middle; opacity: 0; visibility: hidden; 
						text-align: left; padding: 0 10px; white-space: nowrap;
						.rtl &{
							text-align: right;
						}
					}
					&:hover{
						.transition(all 0.3s);
						>.menu-img{
							position: relative; z-index: 9;
						}
						>.menu-title{
							display: inline-block; opacity: 1; visibility: visible;
							background: #183544; color: #fff; position: absolute; right: 43px; top: 0;
							z-index: 1; 
							.rtl &{
								padding-right: 10px; right: auto; left: 43px;
							}
						}
					}
				}
				&.current{
					>a{
						background: #183544;
					}
				}
				&:hover{
					a{
						background: #183544;
					}
				}
			}
		}		
	}
}

.resp-ajax-page-listing{
	margin:0 0 12px;
	.page-listing-content{
		.button-collapse{
			display:none;
		}
		ul{
			margin: 6px 0 0 0; border: none;
			li{
				margin-right: 0.5%; text-align: center; margin-bottom: 6px; width: 16.23%;
				.rtl &{
					margin-left: 0.5%; margin-right: 0;
					float:right;
				}
				a{
					border: none; font-size: 12px; color: @body-color; margin: 0; background: #e8e8e8; text-transform: uppercase; font-weight:700;
					border-radius: 0;
				}
				&:hover, &.active, &:focus{
					a{
						border: none; background: @color; color: #fff; border-radius: 0;
					}
				}
				&:last-child{
					margin-right: 0;
					.rtl &{
						margin-left: 0;
					}
				}
			}
		}
		.elementor-widget-image .elementor-image a{
			&:hover img{
				opacity:0.85;
			}
		}
	}
}

.sw-category-slider7{
	position:relative;
	margin:0 0 5px;
	.box-title{
		h3{
			font-size:18px;
			color:#222;
			padding:10px 0;
			border-bottom:1px solid #eaeaea;
			text-transform:uppercase;
			font-weight:700;
			position:relative;
			margin:0 0 20px;
			&:before{
				content:'';
				width:40px;
				height:2px;
				position:absolute;
				bottom:-1px;
				left:0;
				background-color:@color;
				.rtl &{
					right:0;
					left:auto;
				}
			}
		}
	}
	.res-button{
		width:28px;	height:28px;
		line-height:26px;
		border:1px solid #eee;
		text-align:center;
		color:#ccc;
		position:absolute;
		top: 3px; z-index: 2;
		cursor:pointer;
		background-color:#fff;
		border-radius:50%;
		&:hover{
			background-color:@color;
			border:1px solid @color;
			color:#fff;
		}
		&:before{
			font-family:FontAwesome;
			font-size:14px;
		}
		&.slick-prev{
			right:35px;
			left:auto;
			&:before{
				content:'\f104';
			}
			.rtl &{
				left:0;
				right:auto;
			}
		}
		&.slick-next{
			right:0;
			left:auto;
			&:before{
				content:'\f105';
			}
			.rtl &{
				left:35px;
				right:auto;
			}
		}
	}
	.resp-slider-container .slider .slick-list{
		position:relative;
		margin:0 -15px;
		.item{
			padding:0 15px;
			.item-content{
				h3{
					a{
						line-height:40px;
						font-size:14px;
						color:#fff;
						text-transform:lowercase;
						display:block;
						height:40px;
						width:170px;
						text-align:center;
						font-weight:400;
						&:hover{
							opacity:0.9;
						}
					}
				}
			}
		}
	}
}

.multi-category-countdown{
	.box-slider-title{
		background: transparent; border-top: none; border-bottom: 1px @border-color solid; margin-bottom: 30px;
		h2{
			background: transparent; color: #222; padding: 12px 0 6px 0; font-size: 18px;
			position: relative; margin: 0;
			&:after{
				content: ""; width: 40px; height: 2px; background: @color; position: absolute; left: 0; bottom: -1px; .transition(all 0.3s ease);
				.rtl &{
					left: auto; right: 0;
				}
			}
		}
	}
	.multi-countdow-wrapper{
		.multi-category-wrapper{
			margin-bottom: 30px;
			&:nth-child(2n + 1){
				clear:both;
			}
			.multi-category-item{
				border: 1px @border-color solid;
			}
			.banner-product{
				position:relative;
				&:before{
					content:'\f0e7';
					font-family:'FontAwesome';
					font-size:16px;
					color:#fff;
					position:absolute;
					top:8px;
					right:8px;
					z-index:2;
				}
				&:after{
					content:'';
					width: 0; 
					height: 0; 
					position:absolute;
					top:0;
					right:0;
					border-left: 50px solid transparent;
					border-top: 50px solid #e93434;
				}
				&:hover img{
					opacity:0.85;
				}
				img{
					max-height: 149px;
				}
			}
			.countdown-muti-slider{
				position: relative;	
				.item-countdown{
					.item-wrap5{
						.item-detail{
							.item-img{
								float: left; width: 52%;
								padding:5px 30px;
								.rtl &{
									float: right;
								}
								a .product-thumb-hover img{
									max-width: 229px; margin: 0 auto;
								}
								.sale-off{
									display:none;
								} 
							}
							.item-content{
								padding: 23px 15px;
								.item-category{
									h3{
										a{
											background: #E93434; color: #fff; font-size: 12px; padding: 5px 10px;
											&:hover{
												background: @color;
											}
										}
									}
								}
								h4{
									width: 100%; margin-bottom: 15px;
								}
								.reviews-content{
									margin: 20px 0 6px 0;
								}
								.item-price{
									margin-bottom: 20px; font-size: 18px;
									del{
										font-size: 16px;
									}
									ins{
										color: @color;
									}
								}
								.product-countdown{
									clear: none; text-align: left;
									.rtl &{
										text-align: right;
									}
									.countdown-row{
										text-align: center; margin-left: -7px;
										.rtl &{
											margin-left: 0; margin-right: -7px;
										}
										.days{
											display: inline-block;
										}
										.countdown-section{
											display: inline-block;
											vertical-align: top;
											border:2px solid #ddd;
											border-radius:3px;
											width:54px;
											height:50px;
											text-align:center;
											margin:0 10px 0 0;
											span{
												display: block;
											}
											.countdown-amount{
												font-size: 18px;
												color: #000000;
												padding: 0 8px;
												position: relative;
												margin-top: 5px;
												line-height: 22px;
												font-weight:500;
											}
											.countdown-period{
												font-size: 11px;
												text-transform: uppercase;
												color: #b3b3b3;
												padding: 0 8px;
												font-weight:700;
											}
										}
										.secs{
											.countdown-amount{
												&:after{
													display: none;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.res-button{
					top: 50%;
					&.slick-prev{
						right: auto;left: 10px;
						.rtl &{
							left: auto; right: 10px;
						}
					}
					&.slick-next{
						right: 10px;
						.rtl &{
							right: auto; left: 10px;
						}
					}
				}
			}
		}
	}
}

.sw-child-cat4{
	margin:0 0 30px;
	position:relative;
	.button-style7;
	.child-top {
		h3{	
			min-width: 244px;
			padding: 15px;
			font-size: 18px;
			text-transform: uppercase;
			color: #ffffff;
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			&:before{
				border-bottom: 27px solid transparent;
				border-right: 10px solid #efefef;
				border-top: 0 solid transparent;
				border-left: 0;
				content: "";
				position: absolute;
				right: 0;
				top: 0;
			}
			&:after{
				border-bottom: 0 solid transparent;
				border-right: 10px solid #efefef;
				border-top: 27px solid transparent;
				bottom: 0;
				content: "";
				position: absolute;
				right: 0;
			}
			.rtl &{
				&:before{
					border-bottom: 27px solid transparent;
					border-left: 10px solid #efefef;
					border-right: 0;
					border-top: 0 solid transparent;
					left: 0;
					right: auto;
				}
				&:after{
					border-bottom: 0 solid transparent;
					border-left: 10px solid #efefef;
					border-right: 0;
					border-top: 27px solid transparent;
					left: 0;
					right: auto;
				}
			}
		}
		.box-title-right{
			background: #efefef;
			overflow: hidden;
			.childcat-content{
				ul{
					margin: 0 0 0 11px;
					.rtl &{
						margin: 0 11px 0 0;
					}
					li{
						padding: 16px 0;
						list-style: none;
						display: inline-block;
						vertical-align: top;
						line-height:17px;
						a{
							font-size: 14px;
							color: #000000;
							padding: 0px 15px;
							border-right: 1px solid #a6a6a6;
							.rtl &{
								border-left: 1px solid #a6a6a6; border-right: 0;
							}
							&:hover{
								color: @color;
							}
						}
						&:last-child{
							a{
								border-right: 0;
							}
							.rtl &{
								a{
									border-left: 0;
								}
							}
						}
						&:first-child{
							.rtl &{
								a{
									border-right: 0;
								}
							}
						}
					}
				}
			}
			.view-all{
				margin: 0 18px 0 0;
				a{
					font-size: 14px;
					color: #464646;
					text-transform: capitalize;
					display: block;
					padding: 16px 15px;
					line-height:17px;
					i{
						margin: 0 0 0 8px;
						.rtl &{
							margin:0 8px 0 0;
						}
						&:before{
							.rtl &{
								content:'\f0d9';
							}
						}
					}
					&:hover{
						color: @color;
					}
				}
			}
		}
	}
	.tab-content{
		overflow: hidden;
		.banner-category{
			float: left;
			.rtl &{
				float:right;
			}
			.banner-slider{
				.banner-responsive{
					.item{
						a{
							img{
								margin: 0;
								&:hover{
									.opacity(0.9);
								}
							}
						}
					}
				}
			}
		}
		.resp-slider-container {
			overflow: hidden; border: 1px #dbdbdb solid; max-height: 320px;
			//border-right:1px solid transparent;
			.slick-slider {
				border: none;
				.slick-list .slick-track .item .item-wrap5{
					border-right:1px solid #dbdbdb;
					.rtl &{
						border-left: 1px #dbdbdb solid; border-right: 0;
					}
					.item-detail{
						.products-thumb{
							padding:4px 10px 10px;
							.sale-off{
								display:none;
							}
						}
						.item-content{
							padding: 14px 15px 3px 15px;
							.reviews-content{
								margin-bottom: 4px;
							}
							h4{
								margin-bottom: 5px;
							}
						}
					}
				}
			}
		}
	}
	&.style2{
		.child-top{
			.box-title{
				float:right;
				.rtl &{
					float:left;
				}
				h3{
					padding: 15px; min-width: 244px; background: none; text-align: right;
					.rtl &{
						text-align: left;
					}
					&:before{
						top: 0; right: auto; left: 0; border-right: 0px solid #efefef; border-left: 10px solid #efefef;
						.rtl &{
							border-bottom: 27px solid transparent;
							border-right: 10px solid #efefef;
							border-top: 0 solid transparent;
							border-left: 0;
							right: 0; left: auto;
						}
					}
					&:after{
						bottom: 0; right: auto; left: 0; border-right: 0px solid #efefef; border-left: 10px solid #efefef;
						.rtl &{
							border-bottom: 0 solid transparent;
							border-right: 10px solid #efefef;
							border-top: 27px solid transparent;
							border-left: 0;
							right: 0; left: auto;
						}
					}
				}
			}
		}
		.box-title-right{
			background: #efefef;
			overflow: hidden;
			.childcat-content{
				float:left;
				.rtl &{
					float:right;
				}
				ul{
					margin: 0 0 0 11px;
					.rtl &{
						margin: 0 11px 0 0;
					}
					li{
						padding: 16px 0;
						list-style: none;
						display: inline-block;
						vertical-align: top;
						line-height:17px;
						a{
							font-size: 14px;
							color: #000000;
							padding: 0px 15px;
							border-right: 1px solid #a6a6a6;
							.rtl &{
								border-left: 1px solid #a6a6a6; border-right: 0;
							}
							&:hover{
								color: @color;
							}
						}
						&:last-child{
							a{
								border-right: 0;
							}
							.rtl &{
								a{
									border-left: 0;
								}
							}
						}
						&:first-child{
							.rtl &{
								a{
									border-right: 0;
								}
							}
						}
					}
				}
			}
			.view-all{
				float:right;
				margin:0 0 0 18px;
				.rtl &{
					float:left;
					margin:0 18px 0 0;
				}
			}
		}
		.tab-content{
			overflow: hidden;
			.banner-category{
				float: right;
				.rtl &{
					float:left;
				}
			}
			.resp-slider-container {
				//border-right:1px;
				//border-left:0;
				.slick-slider {
					border: none;
					.slick-list .slick-track .item .item-wrap5{
						//border-left:1px 1px solid #dbdbdb;
						//border-right:0;
						.rtl &{
							border-right:1px solid #dbdbdb;
							border-left:0;
						}
					}
				}
			}
		}

	}
}

.footer-element-style5{
	padding-top:40px;
	.elementor-section{
		.elementor-column-gap-default .elementor-column>.elementor-element-populated{
			padding:10px 0;
		}
		.elementor-widget-wp-widget-nav_menu{
			h5{
				font-size:16px;
				color:#000;
				text-transform:uppercase;
				font-weight:700;
				margin:0 0 20px;
			}
			ul.menu{
				li{
					a{
						font-size:13px;
						color:#474747;
						display:block;
						padding:7px 0;
						&:hover{
							color:@color;
						}
					}
				}
			}
		}
	}
	.footer-element-menu5{
		margin-bottom:13px;
		.elementor-container{
			padding-bottom:30px;
			border-bottom:1px solid #ddd;
			.home-style6 &{
				position:relative;
				border:0;
				&:before{
					content:'';
					width:1170px;
					height:1px;
					background-color:#ddd;
					position:absolute;
					left:15px;
					bottom:0;
				}
			}
		}
	}
	.footer-element-bottom5{
		.elementor-widget-wp-widget-nav_menu{
			text-align:center;
			ul.menu{
				display:inline-block;
				> li{
					float:left;
					position:relative;
					&:before{
						content: "";
						width: 1px;
						height: 10px;
						background: #666;
						position: absolute;
						top: 2px;
						right: 0;
					}
					a{
						display:inline-block;
						font-size:12px;
						color:#000;
						text-transform:uppercase;
						padding:0 15px;
						font-weight:400;
						position:relative;
						&:hover{
							color:@color;
						}
						
					}
				}
			}
		}
		.elementor-widget-image .elementor-image img{
			margin:0 0 10px;
		}
		.elementor-widget-text-editor .elementor-text-editor p{
			font-size:12px;
			line-height:22px;
			color:#474747;
			width:72%;
			margin:0 auto 10px;
			text-align:center;
		}
	}
}
.footer-element-copyright5{
	text-align:center;
	color:#a8a8a8;
	.elementor-column-gap-default .elementor-column>.elementor-element-populated{
		padding:9px 0;
	}
	p{
		margin:0;
	}
	a{
		color:#a8a8a8;
		&:hover{
			color:@color;
		}
	}
}

@media (max-width: 1680px) {
	.header-style11 .header-bar{
		right: 10px;
		.rtl &{
			right: auto; left: 10px;
		}
	}
}

@media (max-width: 1480px) {
	.header-bar{
		top: 200px;
	}
}

@media (max-width: 1199px) {
	.header-style11 .header-bar{
		display: none;
	}
	.home-style9.wide-1650 .container{
		padding:0 15px;
	}
	.footer-element-style5 .elementor-section.elementor-section-boxed > .elementor-container{
		padding:0 15px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.home-style9{
		.sw-vendor-container-slider2 .resp-slider-container .slider .slick-list .item .item-wrap .item-product .item-product-content .item-img{
			max-width:73px;
		}
		.sw-vendor-container-slider2 .resp-slider-container .slider .slick-list .item .item-wrap{
			padding:20px 10px;
		}
	}
}

@media (max-width: 991px) {
	.header-style11{
		.header-mid{
			.top-header{
				text-align:center;
				.emarket-logo{
					margin:0 0 20px;
					display:inline-block;
				}
			}
			.emarket_top .top-form.top-search{
				margin:0 0 20px;
			}
			.mid-header-right{
				float:none;
				.sw_top{
					&:last-child{
						float:left;
						padding:0 15px;
					}
				}
			}
		}
	}
	.header-style11 .sticky-menu{
		position:relative !important;
		
	}
	.header-style11 .header-mid .mid-header-right .sw_top:first-child{
		float:right;
	}
	.header-style11 .header-mid .top-login3 ul{
		margin:0;
	}
	.sw-child-cat4 .child-top{
		position: relative;
		.box-title{
			.navbar-toggle{
				display: block;
				position: absolute;
				top: 50%;
				right: 0px;
				margin: -17px 0 0 0;
				z-index: 100;
				.rtl &{
					right: auto;
					left: 0;
				}
				span{
					background: #000;
				}
				&:hover{
					span{
						background-color: @color;
					}
				}
			}
		} 
		.box-title-right{
			.view-all{
				margin: 0 75px 0 0;
				.rtl &{
					margin: 0 0 0 75px;
				}
			}
			.childcat-content{
				height: 0;
				margin: 0;
				overflow: hidden;
				position: absolute;
				top: 56px;
				right: 1px;
				z-index: 99;
				box-shadow: 0 3px 3px rgba(0,0,0,0.3);
				background: #fff;
				width: 200px;
				.rtl &{
					right: auto;
					left: 1px;
				}
				ul{
					padding: 10px 10px;
					li{
						padding: 0;
						display: block;
						a{
							display: block;
							padding: 10px 0;
							border-right: 0;
							.rtl &{
								border-left: 0;
							}
						}
						&:last-child{
							a{
								border: none !important;
							}
						}
					}
				}
			}
		} 
	}
	.sw-child-cat4.style2 .child-top .box-title .navbar-toggle{
		left:0;
		right:auto;
		.rtl &{
			right:0;
			left:auto;
		}
	}
	#main-menu .primary-menu .resmenu-container .navbar-toggle{
		background-color:@color;
		border-color:@color;
		.icon-bar{
			background-color:#fff;
		}
	}
}	


@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {
	.resp-ajax-page-listing .page-listing-content{
		.button-collapse{
			padding:10px;
			background-color:@color;
			color:#fff;
			margin:10px 0;
			font-size:14px;
			text-align:left;
			display:block;
			.rtl &{
				text-align:right;
				&:before{
					left:10px;
					right:auto;
				}
			}
			&.collapsed{
				position:relative;
				&:before{
					content:'\f107';
					font-family:FontAwesome;
					position:absolute;
					right:10px;
					top:10px;
					font-size:16px;
					.rtl &{
						left:10px;
						right:auto;
					}
				}
			}
			&:before{
				content:'\f106';
				font-family:FontAwesome;
				position:absolute;
				right:10px;
				top:20px;
				font-size:16px;
			}
		}
		ul{
			display:none;
			li{
				width:32%;
				margin-right:1.333%;
				.rtl &{
					margin-left:1.333%;
					margin-right:0;
				}
			}
			&.in{
				display:block;
			}
		}
	}
	.footer-element-style5 .footer-element-bottom5 .elementor-widget-text-editor .elementor-text-editor p{
		width:100%;
	}
}

@media (max-width: 640px) {
	.multi-category-countdown .multi-countdow-wrapper .multi-category-wrapper .countdown-muti-slider .item-countdown .item-wrap5 .item-detail .item-img{
		float:none !important;
		width:100%;
	}
	.header-style11 .header-top .call-us{
		display:none;
	}
}

@media (max-width: 480px) {
	.resp-ajax-page-listing .page-listing-content ul li{
		width:100%;
		margin:0 0 5px 0;
		float:none !important;
	}
	.sw-child-cat4 .tab-content .banner-category, .sw-child-cat4 .child-top .box-title-right .view-all a{
		display:none;
	}
	.sw-child-cat4 .tab-content .resp-slider-container{
		max-height:none;
	}
	.sw-child-cat4 .child-top h3,.sw-child-cat4.style2 .child-top .box-title h3{
		min-width:170px;
	}
	.header-style11 .header-top .widget_nav_menu{
		display:none;
	}
	.logged-in .header{
		//margin-top:46px !important;
	}
	.header-style11 .header-top{
		text-align:center;
		.top-header{
			display:inline-block;
		}
	}
}

@media (max-width: 360px) {
	.sw-child-cat4.style2 .child-top .box-title h3:after, .sw-child-cat4.style2 .child-top .box-title h3:before,
	.sw-child-cat4 .child-top .box-title h3:before, .sw-child-cat4 .child-top .box-title h3:after{
		border:0;
	}
	.sw-child-cat4 .child-top h3, .sw-child-cat4.style2 .child-top .box-title h3{
		min-width:100%;
	}
}